<section class="input-container">
    <form ng-submit="getEmployee(employee)">
        <input type="text" placeholder="Employee firstname" ng-model="employee.firstname">
        <input type="text" placeholder="Employee lastname" ng-model="employee.lastname">
        <input type="text" placeholder="Employee email" ng-model="employee.email">
        <input type="text" placeholder="Employee 5555555555" ng-model="employee.phone">
        <button type="submit">add employee</button>
    </form>
</section>
<div class="wrapper">
   
   <p class="employee-title">EMPLOYEE</p>
   
    <table class="table">
        <tr>
            <div class="employee" 
            </div>
            <th>First
            </th>
            <th>Last
            </th>
            <th>Email
            </th>
            <th>Phone
            </th>
        </tr>
        <tr ng-repeat="employee in employees">
            <td>{{employee.firstname}}
            </td>
            <td>{{employee.lastname}}
            </td>
            <td>{{employee.email}}
            </td>
            <td>{{employee.phone}}
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeEmployee(employee.id)" />
            </td>
        </tr>
    </table>


<p class="request-title">REQUEST</p>

    <table class="table">
        <tr>
            <div class="request" 
            </div>
            <th>Firstname
            </th>
            <th>Lastname
            </th>
            <th>Email
            </th>
            <th>Phone
            </th>
        </tr>
        <tr ng-repeat="request in requests">
            <td>{{request.firstname}}
            </td>
            <td>{{request.lastname}}
            </td>
            <td>{{request.email}}
            </td>
            <td>{{request.phone}}
            </td>
            <td>
                <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRequest(request.id)" />
            </td>
        </tr>
    </table>
</div>