<section class="input-container">
    <form ng-submit="getEmployee(employee)">
        <input type="text" placeholder="Firstname" ng-model="employee.firstname">
        <input type="text" placeholder="Lastname" ng-model="employee.lastname">
        <input type="text" placeholder="Email" ng-model="employee.email">
        <input type="text" placeholder="5555555555" ng-model="employee.phone">
        <button type="submit">Add employee</button>
    </form>
</section>
<div class="wrapper">
   
   <p class="employee-title">EMPLOYEE</p>
   
    <table class="table">
        <tr>
            <div class="employee" 
            </div>
            <th>First
            </th>
            <th>Last
            </th>
            <th>Email
            </th>
            <th>Phone
            </th>
        </tr>
        <tr ng-repeat="employee in employees">
            <td><u>{{employee.firstname}}</u>
            </td>
            <td>|<u>{{employee.lastname}}</u>
            </td>
            <td>|<u>{{employee.email}}</u>
            </td>
            <td>|<u>{{employee.phone}}</u>
            </td>
            <td>
                <input type="button" value="X" class="btn-btn-primary" ng-click="removeEmployee(employee.id)" />
            </td>
        </tr>
    </table>


<p class="request-title">REQUEST</p>

    <table class="table">
        <tr>
            <div class="request" 
            </div>
            <th>First
            </th>
            <th>Last
            </th>
            <th>Email
            </th>
            <th>Phone
            </th>
        </tr>
        <tr ng-repeat="request in requests">
            <td><u>{{request.firstname}}</u>
            </td>
            <td>|<u>{{request.lastname}}</u>
            </td>
            <td>|<u>{{request.email}}</u>
            </td>
            <td>|<u>{{request.phone}}</u>
            </td>
            <td>

                <!--<i class="fa fa-trash-o" aria-hidden="true" ></i>-->

                <!--<input class="fa fa-trash-o" ng-click="removeRequest(request.id)" />-->
                <input type="button" value="X" class="btn-btn-primary" ng-click="removeRequest(request.id)" />
            </td>
        </tr>
    </table>
</div>