<div class="cater-container">
    <p class="cater-info">
        Have us cater your next wedding, quinceñera, birthday, or corperate event! Fill out the form below with your information and we will be contacting you for the rest of the details ASAP. We can't wait to turn you next event in to a true <u>FIESTA</u>!!!
    </p>
</div>
<section class="input-cater">
    <form ng-submit="getRequest(request)">
        <input type="text" placeholder="first name" ng-model="request.firstname"><br><br>
        <input type="text" placeholder="last name" ng-model="request.lastname"><br><br>
        <input type="text" placeholder="email" ng-model="request.email"><br><br>
        <input type="text" placeholder="5555555555" ng-model="request.phone"><br><br>
        <button type="submit">submit request</button><br><br>
    </form>
</section>
