<section class="input-container">
    <form ng-submit="getRequest(request)">
        <input type="text" placeholder="first name" ng-model="request.firstname"><br><br>
        <input type="text" placeholder="last name" ng-model="request.lastname"><br><br>
        <input type="text" placeholder="email" ng-model="request.email"><br><br>
        <input type="text" placeholder="5555555555" ng-model="request.phone"><br><br>
        <button type="submit ; reset">submit request</button><br><br>
    </form>
</section>