<section class="input-container">
    <form ng-submit="getrequest(request)">
        <input type="text" placeholder="first name" ng-model="request.firstname"><br><br>
        <input type="text" placeholder="last name" ng-model="request.lastname"><br><br>
        <input type="text" placeholder="email" ng-model="request.email"><br><br>
        <input type="text" placeholder="(555) 555-5555" ng-model="request.phone"><br><br>
        <button type="submit">submit request</button><br><br>
    </form>
</section>