@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
* {
    /*border: 1px solid black;*/
    /*line-height: 1px;*/
}

.skyline {
    z-index: -1;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sm,
.ts,
.tabs {
    font-family: 'Bungee Shade', cursive;
}

.ts,
.tabs,
a {
    word-spacing: 1%;
    color: #C12C42;
    font-size: 28%;
    text-decoration: none;
}

.sm {
    font-size: 191%;
    color: #024467;
}

.sanmarcos,
.tacoshop {
    display: flex;
    justify-content: space-around;
}

.tabs {
    word-spacing: 1em;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    ;
}

h1 {
    width: 100%;
    word-spacing: 2px;
    display: flex;
    justify-content: space-around;
    margin: 13px auto;
}
.employee-title,
.request-title,
.table,
.input-container,
.input-cater {
    color: #024467;
    padding: 8px;
    width: 70%;
    margin: 0 auto;
    font-family: Courier New, Courier, monospace;
    font-weight: bolder;
    font-size: 59%;
    display: flex;
    justify-content: center;
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

input {
    background-color: #024467;
    color: #F5B055;
}

th {
    height: 20px;
    color: #c12c42;
}

th,
td {
    /*border: 1px solid black;*/
    width: 75%;
}
td{
    border-bottom: 1px solid black;
}

.menu {
    opacity: 0.8;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

iframe {
    display: none;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.employee,
.request {
    display: flex;
    justify-content: center;
    height: 0;
}

.review-container {
    display: flex;
    justify-content: center;
}

.reviews {
    opacity: 0.8;
    width: 90%;
    margin: 9% auto;
    height: 70%;
}

.about-container,
.taco-weather,
.cater-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
}

.about,
.temp,
.cater-info {
    color: #024467;
    font-family: 'Bungee Hairline', cursive;
    margin-left: 5%;
    font-size: 78%;
    text-align: justify;
    line-height: normal;
}

.admin {
    color: #3a718c;
    opacity: 0.3;
    position: fixed;
    bottom: 2%;
}
.request-title,
.employee-title {
    background-color: #C12C42;
    color: #f5b055;
    text-align: center;
    font-family: Courier New, Courier;
}

@media (min-width: 768px) {
    .ts {
        font-size: 140%;
    }
    .tabs,
    a {
        font-size: 79%;
    }
    .ts,
    .tabs,
    {
        margin: 5% 0 5% 0;
    }
    .sm {
        font-size: 415%;
    }
    .about,
    .temp,
    .cater-info {
        font-size: 187%;
    }
    .employee-title,
    .request-title,
    .table,
    .input-container {
        width: 90%;
        font-size: 91%;
    }
    .input-cater {
        font-size: 170%;
    }
}

@media (min-width: 1336px) {
    .ts {
        font-size: 200%;
    }
    .tabs,
    a {
        font-size: 96%;
    }
    .ts,
    .tabs,
    {
        margin: 5% 0 5% 0;
    }
   
   .about-container, .taco-weather, .cater-container {
    margin-left: 25%;
    width: 50%;
   }

    .about,
    .temp,
    .cater-info {
        width: 90%;
        font-size: 187%;
    }
    .table,
    .input-container {
        width: 90%;
        font-size: 91%;
    }
    .input-cater {
        font-size: 170%;
    }
    .reviews {
        width: 50%;
    }
    .tabs {
        width: 50%;
    }
    .employee-title,
    .request-title,
     .table,
    .input-container {
        width: 50%;
        font-size: 190%;
    }
     .table,
    .input-container {
        width: 50%;
    }
    
}