@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
* {
    /*border: 1px solid black;*/
    line-height: 1px;
}

.skyline {
    z-index: -1;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.sm,
.ts,
.tabs {
    font-family: 'Bungee Shade', cursive;
}

.ts,
.tabs {
    color: #C12C42;
    font-size: 0.3em
}

.sm {
    font-size: 2em;
    color: #024467;
}

.sanmarcos,
.tacoshop {
    display: flex;
    justify-content: space-around;
}

.tabs {
    word-spacing: 1em;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    ;
}

h1 {
    width: 100%;
    word-spacing: 2px;
    display: flex;
    justify-content: space-around;
    margin: 13px auto;
}

.table,
.input-container {
    color: #024467;
    padding: 8px;
    width: 33%;
    margin: 0 auto;
    font-family: Courier New, Courier, monospace;
    font-weight: bolder;
    font-size: 0.4em;
}

th {
    height: 20px;
    color: #c12c42;
}

th,
td {
    /*border: 1px solid black;*/
    width: 75%;
}

.menu {
    opacity: 0.8;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

iframe {
    display: none;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0 auto;
}

.employee,
.request {
    display: flex;
    justify-content: center;
    height: 0;
}